<?xml version="1.0" encoding="utf-8"?>
<HubDetails xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Url>{{ hub_url }}</Url>
  <Username>{{ agent_username }}</Username>
  <Password>{{ agent_password }}</Password>
  <Proxy>{{ proxy_protocol }}://{{ proxy_host }}:{{ proxy_port }}</Proxy>
  <ProxyDomain />
  <ProxyUsername />
  <ProxyPassword />
  <UseDefaultProxy>true</UseDefaultProxy>
  <NamePrefix />
  <NameSuffix />
  <Thumbprint />
</HubDetails>